<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InputSearch</title>

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InputSearch.styles.css" asp-append-version="true" />

</head>
<body>

    <header class="p-3 mb-3 border-bottom" id="header" style="display: block;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <a class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img class="homelogo" src="~/photo/homelogo.png" />
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a asp-action="" class="nav-link px-2 link-secondary font">Home</a></li>
                    <li><a asp-action="" class="nav-link px-2 link-dark font">Parties</a></li>
                    <li><a asp-action="" class="nav-link px-2 link-dark font">Top up</a></li>
                    <li><a asp-action="" class="nav-link px-2 link-dark font">Sign Out</a></li>
                </ul>

                <div class="text-end">
                    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        <img src="~/photo/avatar.jpg" alt="mdo" class="rounded-circle avatar" />
                    </a>
                </div>

            </div>
        </div>
    </header>
    
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
