<section class="text-center">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">List of parties</h1>
            <p class="lead text-body-secondary">Hello, choose a group wisely and according to your capabilities. Come on, I'm burning out, choose what you want!)</p>
        </div>
    </div>
</section>

<div class="d-flex justify-content-end">
    <input id="search" class="form-control me-2" type="search" placeholder="Search" />
    <button class="btn btn-outline-success" type="submit" onclick="search()">Search</button>
</div>

<div class="album py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 party-list">

    </div>
</div>

<div id="error"></div>

<div id="show-more" class="position-relative">
    
</div>

<script>
    
</script>