<section class=" text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">List of parties</h1>
            <p class="lead text-body-secondary">Hello, choose a group wisely and according to your capabilities. Come on, I'm burning out, choose what you want!)</p>
        </div>
    </div>
</section>

<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 party-list">

        </div>
    </div>
</div>

<div class="position-relative mb-5">
    <div class="position-absolute top-50 start-50 translate-middle">
        <button class="border border-black p-3" style="background: none;">
            Show more
        </button>
    </div>
</div>